<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051886089134-lii12lcue8o4eplr0jhi99f3vrm9qehg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051886089134-lii12lcue8o4eplr0jhi99f3vrm9qehg</string>
	<key>API_KEY</key>
	<string>AIzaSyArhaLbML2CVjeMl0YEPEB4f5gHE1-lmcU</string>
	<key>GCM_SENDER_ID</key>
	<string>1051886089134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoRemoteConfig</string>
	<key>PROJECT_ID</key>
	<string>fir-remote-config-515a4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-remote-config-515a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051886089134:ios:093fd6840f9b8ad5248e3f</string>
	<key>DATABASE_URL</key>
	<string>https://fir-remote-config-515a4-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>